<footer class="footer">
    <button class="footer__button">
        <a class="footer__button--link" href="./index.html#start" title="Go up to start">
            <img class="button__link--arrow" src="./assets/images/icons/ico-arrow.svg" alt="Go up to start" title="Go up to start">
        </a>
    </button>

    <nav class="footer__nav">
        <ul class="nav__list--articles">
            <li class="list__articles--item">
                <a href="https://adalab.es/" target="_blank" title="Articles">Articles</a>
            </li>
            <li class="list__articles--item">
                <a href="https://adalab.es/" target="_blank" title="Books">Books</a>
            </li>
            <li class="list__articles--item">
                <a href="https://adalab.es/" target="_blank" title="Events">Events</a>
            </li>
            <li class="list__articles--item">
                <a href="https://adalab.es/" target="_blank" title="Reasons">Reasons</a>
            </li>
            <li class="list__articles--item">
                <a href="https://adalab.es/" target="_blank" 
                title="Tips">Tips</a>
            </li>
        </ul>

        <ul class="nav__list--socialmedia">
            <li class="list__socialmedia--item">
                <a href="https://adalab.es/" target="_blank" title="Twitter">Twitter</a>
            </li>
            <li class="list__socialmedia--item">
                <a href="https://adalab.es/" target="_blank" title="Instagram">Instagram</a>
            </li>
            <li class="list__socialmedia--item">
                <a href="https://adalab.es/" target="_blank" 
                title="Mastodon.social">Mastodon.social</a>
            </li>
        </ul>
    </nav>

    <div class="footer__div">
        <small class="footer__div--copy">©2021</small>
        <small class="footer__div--name">we ❤︎ components</small>
    </div>
</footer>