<footer class="footer">
    <button class="footer__button">
        <a class="footer__button--link" href="./index.html#start" title="Go up to start">
            <img class="button__link--arrow" src="./assets/images/icons/ico-arrow.svg" alt="Go up to start" title="Go up to start">
        </a>
    </button>

    <nav class="nav">
        <ul class="nav__articles">
            <li class="nav__articles--item">
                <a class="item__link" href="https://adalab.es/" target="_blank" title="Articles">Articles</a>
            </li>
            <li class="nav__articles--item">
                <a class="item__link" href="https://adalab.es/" target="_blank" title="Books">Books</a>
            </li>
            <li class="nav__articles--item">
                <a class="item__link" href="https://adalab.es/" target="_blank" title="Events">Events</a>
            </li>
            <li class="nav__articles--item">
                <a class="item__link" href="https://adalab.es/" target="_blank" title="Reasons">Reasons</a>
            </li>
            <li class="nav__articles--item">
                <a class="item__link" href="https://adalab.es/" target="_blank" 
                title="Tips">Tips</a>
            </li>
        </ul>

        <ul class="nav__socialmedia">
            <li class="nav__socialmedia--item">
                <a class="item__link" href="https://adalab.es/" target="_blank" title="Twitter">Twitter</a>
            </li>
            <li class="nav__socialmedia--item">
                <a class="item__link" href="https://adalab.es/" target="_blank" title="Instagram">Instagram</a>
            </li>
            <li class="nav__socialmedia--item">
                <a class="item__link" href="https://adalab.es/" target="_blank" 
                title="Mastodon.social">Mastodon.social</a>
            </li>
        </ul>
    </nav>

    <div class="footer__div">
        <small class="copy">©2021</small>
        <small class="name">we<span class="heart"> ❤︎ </span>components</small>
    </div>
</footer>