<header class="header" id="start">
    <nav class="menu">
        <a clas="menu__link" title="Go to Valle's GitHub" href="https://github.com/vtendero" target="_blank">
            <img 
            class="menu__link--icon" 
            src="./assets/images/icons/ico-menu.svg" 
            alt="Menu" title="Menu">
        </a>
    </nav>

    <div class="title">
        <h1 class="title__title">Anonymous Proxy</h1>
        <h4 class="title__subtitle">In hac habitasse platea dictumst.</h4>
    </div>
        
    <div class="header__button">
        <button class="header__button--button">
            <a class="header__button--link" title="Go to 3 Reasons To Purchase" 
            href="./index.html#reasonsSection"> 
                <img class="button__link--scrolldown" 
                src="./assets/images/icons/ico-scroll-down.svg" 
                alt="Go to 3 Reasons To Purchase" 
                title="Go to 3 Reasons To Purchase">
            </a>
        </button>
    </div>
</header>