<header class="header" id="start">
    <nav class="header__nav">
        <a clas="header__nav--link" title="Menu" href="https://adalab.es/" target="_blank">
            <img class="header__nav--menu" src="./assets/images/icons/ico-menu.svg" alt="Menu" title="Menu">
        </a>
    </nav>

    <div class="header__div">
        <div class="header__div--title">
            <h1 class="div__title--title">Anonymous Proxy</h1>
            <p class="div__title--text">In hac habitasse platea dictumst.</p>
        </div>
        <button class="header__div--button">
            <a class="div__button--link" title="scrolldown" 
            href="./index.html#section3ReasonsToPurchase">
                <img class="button__link--scrolldown" src="./assets/images/icons/ico-scroll-down.svg"
                    alt="Go to section: 3 Reasons To Purchase" title="Go to section: 3 Reasons To Purchase">
            </a>
        </button>
    </div>
</header>