<main class="main">
    <section class="section1">
        <h4 class="section1__tips">Insomnia Tips</h4>
        <h2 class="section1__title">Looking Through A Window</h2>
        <p class="section1__text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
        <button class="section1__button">
            <a class="section1__button--link" title="Go" href="">Go</a>
        </button>
    </section>

    <section class="section2" id="sectionReasons">
        <h2 class="section2__title">3 Reasons To Purchase</h2>

        <article class="section2__article1">
            <h3 class="section2__article1--title">Ut sed metus</h3>
            <p class="ection2__article1--text">Lorem ipsum dolor sit amet, consecteur.</p>
        </article>

        <article class="section2__article2">
            <h3 class="section2__article2--title">Curabitur ac erat</h3>
            <p class="section2__article2--text">Mauris mattis urna quis lorem molestie.</p>
        </article>

        <article class="section2__article3">
            <h3 class="section2__article3--title">Morbi dictum</h3>
            <p class="section2__article3--text">Aliquam in dolor et dolor tincidunt.</p>
        </article>

        <button class="main__button">
            <a class="main__button--link" title="More reasons" href="">More reasons</a>
        </button>
    </section>
</main>