<main class="main">
    <section class="main__section--one">
        <h4 class="section__one--tips">Insomnia Tips</h4>
        <h2 class="section__one--title">Looking Through A Window</h2>
        <p class="section__one--text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex
            diam nec lectus. Vivamus semper sodales rutrum.</p>
        <button class="section__one--button">
            <a class="one__button--link" title="Go" href="">Go</a>
        </button>
    </section>

    <section class="main__section--two" id="section3ReasonsToPurchase">
        <h2 class="section__two--title">3 Reasons To Purchase</h2>

        <article class="section__two--article1">
            <h3 class="two__article1--title">Ut sed metus</h3>
            <p class="two__article1--text">Lorem ipsum dolor sit amet, consecteur.</p>
        </article>

        <article class="section__two--article2">
            <h3 class="two__article2--title">Curabitur ac erat</h3>
            <p class="two__article2--text">Mauris mattis urna quis lorem molestie.</p>
        </article>

        <article class="section__two--article3">
            <h3 class="two__article3--title">Morbi dictum</h3>
            <p class="two__article3--text">Aliquam in dolor et dolor tincidunt.</p>
        </article>

        <button class="section__two--button">
            <a class="two__button--link" title="More reasons" href="">More reasons</a>
        </button>
    </section>
</main>