<main class="main">
    <section class="tipsSection">
        <h4 class="tipsSection__tips">Insomnia Tips</h4>
        <h2 class="tipsSection__title">Looking Through A Window</h2>
        <p class="tipsSection__text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
        <button class="tipsSection__button">
            <a class="tipsSection__button--link" title="Go to Valle's GitHub" href="https://github.com/vtendero">Go</a>
        </button>
    </section>

    <section class="reasonsSection" id="reasonsSection">
        <h2 class="reasonsSection__title">3 Reasons To Purchase</h2>
        <div class="reasonsSection__container">
            <article class="reasonsSection__container--article1">
                <h3 class="reasonsSection__container--title">Ut sed metus</h3>
                <p class="reasonsSection__container--text">Lorem ipsum dolor sit amet, consecteur.</p>
            </article>
            <article class="reasonsSection__container--article2">
                <h3 class="reasonsSection__container--title">Curabitur ac erat</h3>
                <p class="reasonsSection__container--text">Mauris mattis urna quis lorem molestie.</p>
            </article>
            <article class="reasonsSection__container--article3">
                <h3 class="reasonsSection__container--title">Morbi dictum</h3>
                <p class="reasonsSection__container--text">Aliquam in dolor et dolor tincidunt.</p>
            </article>
        </div>
        <button class="reasonsSection__button">
            <a class="reasonsSection__button--link" title="Go to Valle's GitHub" href="https://github.com/vtendero">More reasons</a>
        </button>
    </section>
</main>