// fonts
$titleFont: 'Roboto Slab',serif;
$textFont: 'Roboto', sans-serif;

// colors
$whiteText: #ffffff;
$iconMenuColor: #0271bc;
$tipsTitleColor: #8ccbea;
$textSectionOneColor: #4a4a4a;
$buttonColor: #f26002;
$bgSectionOneColor: #ffffff;
$bgSectionTwoColor: #eff9ff;
$bgFooterColor: #304268;
